<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.0/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         cacheDirectory=".phpunit.cache"
         executionOrder="depends,defects">
    <testsuites>
        <testsuite name="Unit">
            <directory>tests/unit</directory>
        </testsuite>
        <testsuite name="Feature">
            <directory>tests/feature</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>core</directory>
            <directory>app</directory>
        </include>
    </source>
    <coverage>
        <report>
            <html outputDirectory="tests/coverage"/>
            <text outputFile="tests/coverage.txt"/>
        </report>
    </coverage>
    <logging>
        <junit outputFile="tests/junit.xml"/>
    </logging>
</phpunit>
